@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.logo-justify{
    height: 40px;
    width: 250px;
}
.bg-custome{
    background-color: #FFF9F4;
}
header{
    font-family: 'Bebas Neue', cursive;
}
h2,.btn,p,a{
    font-family: 'Roboto', sans-serif;
}
.text-tomato{
    color: #FA804C;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
}
.text-darkblue{
    color: #363958;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
}
.text-price{
    font-weight: 900;
    font-size: 36px;
    color: #FA804C;
    padding-top: 10px;
}
.price-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #363958;
}
.btn-custome{
    width: 170px;
    height: 60px;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
    color: white;
}
.btn-custome:hover{
    border-style: none;
    color: white;
    transform: scale(1.05);
    transition: ease-out .3s;
}
.text-title{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #363958;
}
.product-img{
    height: 311px;
}
.icon img{
    width: 78px;
    height: 82px;
}